# Exercise 2

In [4]:
import nltk
import numpy as np
sentence = "Thomas Jefferson began building Monticello at the age of 26."
token_sequence = sentence.split() # nltk.word_tokenize(sentence)
vocab = sorted (set(token_sequence)) # φτιάξε το λεξιλόγιο αφαιρώντας τα tokens που επαναλαμβανονται
', '.join(vocab)

'26., Jefferson, Monticello, Thomas, age, at, began, building, of, the'

In [5]:
num_tokens = len(token_sequence)
vocab_size = len(vocab)
# φτιάξε με μηδενικά ένα vector με διαστάσεις αρ_tokens Χ μεγέθους
onehot_vectors = np.zeros((num_tokens, vocab_size), int)

onehot_vectors

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [6]:
for i, word in enumerate(token_sequence):
    onehot_vectors[i, vocab.index(word)] = 1
' '.join(vocab)

'26. Jefferson Monticello Thomas age at began building of the'

In [7]:
onehot_vectors

array([[0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [8]:
import pandas as pd
pd.DataFrame(onehot_vectors, columns=vocab)

   26.  Jefferson  Monticello  Thomas  age  at  began  building  of  the
0    0          0           0       1    0   0      0         0   0    0
1    0          1           0       0    0   0      0         0   0    0
2    0          0           0       0    0   0      1         0   0    0
3    0          0           0       0    0   0      0         1   0    0
4    0          0           1       0    0   0      0         0   0    0
5    0          0           0       0    0   1      0         0   0    0
6    0          0           0       0    0   0      0         0   0    1
7    0          0           0       0    1   0      0         0   0    0
8    0          0           0       0    0   0      0         0   1    0
9    1          0           0       0    0   0      0         0   0    0

## binary bag-of-words vector

In [10]:
from collections import Counter
bag_of_words = Counter(token_sequence)
bag_of_words

Counter({'Thomas': 1,
         'Jefferson': 1,
         'began': 1,
         'building': 1,
         'Monticello': 1,
         'at': 1,
         'the': 1,
         'age': 1,
         'of': 1,
         '26.': 1})

In [11]:
sentence_bow = {} # create dictionary

for token in token_sequence:
    wordfreq=sentence.count(token) # μετράει την συχνότητα που εμφανίζεται το token
    sentence_bow[token]=wordfreq
sorted(sentence_bow.items())

[('26.', 1),
 ('Jefferson', 1),
 ('Monticello', 1),
 ('Thomas', 1),
 ('age', 1),
 ('at', 1),
 ('began', 1),
 ('building', 1),
 ('of', 1),
 ('the', 1)]